.list {
  font-style: bold;
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: bold;
}

.list-item {
  display: block;
  list-style: none;
  //background-color: #f7485e;
}
//@for $i from 1 through 10 {
//.button#{$i} {
//background-color: 'black';
//}
//}
